@charset "utf-8";
@import "normalize";
@import "~bootstrap/scss/bootstrap";

$base-color: #fff;
$text-color: #444;
$main-color: #87cefa;

/*-----------------------------------------------------------------------
  navigation tag
-----------------------------------------------------------------------*/

