@charset "utf-8";
@import "normalize";
@import "../../node_modules/bootstrap/scss/bootstrap";

$base-color: #fff;
$text-color: #444;
$main-color: #87cefa;
$main-color-dark: #00bfff;
$title-color: #fff;
$sub-color: #ccc;

/*-----------------------------------------------------------------------
  base
-----------------------------------------------------------------------*/

.margin-top {
	margin-top: 20px;
}

.center {
	text-align: center;
}

/*-----------------------------------------------------------------------
  navigation tag
-----------------------------------------------------------------------*/

.navbar-light {
  background: -webkit-linear-gradient(to bottom, $main-color 0%, $main-color-dark 100%);
  background: linear-gradient(to bottom, $main-color 0%, $main-color-dark 100%);
  border-color: $main-color;
}

h1.navbar-brand {
	color: $title-color;
	font-size: 25px;
	@include media-breakpoint-up(md) {
		font-size: 48px;
	}
	font-weight: 800;
	a {
		color: $title-color;
		text-decoration: none;
	}
}

a.nav-link {
	color: $title-color !important;
	text-decoration: none;
}

li.nav-item.active {
	background-color: $title-color !important;
	a {
		color: $main-color !important;
	}
}

.dropdown-menu {
	position: static !important;
}

/*-----------------------------------------------------------------------
  time table
-----------------------------------------------------------------------*/

.session-heading {
	padding-top: .5em;
	border-top: 1px solid $sub-color;
}

.day-section-heading {
	margin: .375em 0;
}

/*-----------------------------------------------------------------------
  section content
-----------------------------------------------------------------------*/

.session-section-content {
	border: 4px double $sub-color;
	margin: 5em 0;
	padding: 2em;
	font-size: 15px;
	p {
		font-size: 15px;
	}
}

a .session-section-content {
	color: $text-color;
}

.session-presenters ol {
	list-style: none;
	li {
		border: 1px solid $sub-color;
		text-align: center;
	}
}

.session-presenter div {
	display: table-cell;
}

.session-presenter-picture img {
	max-width: 100px;
	max-height: 100px;
	vertical-align: middle;
}

.session-presenter-name {
	font-size: 15px;
}

.session-presenter-affiliation {
	font-size: 12px;
}

.session-introduction {
	font-weight: bold;
}

.session-section-title {
	border-bottom: solid 3px $sub-color;
	margin-bottom: 2em;
}

/*-----------------------------------------------------------------------
  interactive session
-----------------------------------------------------------------------*/

.session-interactive-title {
	border-bottom: solid 3px $sub-color;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

.session-poster {
	border-bottom: solid 1px $sub-color;
}

