@charset "utf-8";
@import "normalize";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "site";

/*-----------------------------------------------------------------------
  base
-----------------------------------------------------------------------*/

body {
	font-size: 13px;
}

h1 {
	border-bottom: solid 2px $main-color;
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0;
}

h2 {
	border-bottom: solid 1px $main-color;
	border-left: solid 10px $main-color;
	border-right: solid 1px $main-color;
	border-top: solid 1px $main-color;
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0;
	padding: 5px 10px;
}

h3, h4, h5, h6 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0;
}

p {
	margin-top: 15px;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 15px;
	margin-bottom: 0;
}

footer {
	margin-top: 15px;
}