---
title: SWEST19 プログラム
---
= partial 'partials/navbar', :locals => nav_add($navigation, 'Program', :active, true)
= partial 'partials/timetable', :locals => { number: 19, sessions: $sessions[:SWEST19]}

