---
title: SWEST22について
navigation: SWEST22
description: "SWEST22開催概要: 開催日程: 2020年8月20日(木)〜21日(金)，オンライン開催， SWESTとは、大学の研究者や学生、企業の技術者や管理者、その他、組込みシステムに関わる全ての人達が、徹底的に議論できる場を提供することを主な目的とした合宿型のワークショップです。"
---

markdown:
  # SWEST22について

markdown:
  ## SWEST22開催概要

  * **開催日程: 2020年8月20日(木)〜21日(金)**
  * **開催場所: <font color="Red">オンライン開催</font>**
  * **メインテーマ:**  
  ![SWEST22メインテーマ](../images/SWEST22/swest22_theme.png)  
  SWESTの主な目的である「組込みシステムに関わる全ての人達が、徹底的に議論できる場を提供すること」を、どのようにオンライン開催で達成できるだろうか・・・新しいSWESTのカタチを考えて、そしてやってみたいと思います。  
  参加者の皆さんもそれぞれの、新しい○○のカタチを考えていることと思います。今回のSWESTは、組込み技術者の新しい○○のカタチを持ち寄って語り合う場にできればと思います。
  
  第22回目となる今年のSWESTは、オンラインで開催します。  
  日程は変わらず2020年8月20日(木)〜21日(金)の１泊２日となります。

  SWESTは「議論と交流」の場であることを大事にしてきました。
  基調講演やチュートリアルによって最先端の技術を習得するだけでなく、議論やワークを主体としたセッション、実際に身に付けるためのハンズオン、参加者同士の学び合いを促進するインタラクティブセッションやポジションペーパーを実施することで、組込みシステムの今後の方向性を徹底的に議論してきました。大学の研究者や学生、企業の技術者や管理者、その他、組込みシステムに関わる全ての人達が、温泉旅館にて寝食を共にして、また徹夜部屋と呼ぶ独自の取り組みによって、日々の考えや課題を気軽に交流できる場を提供してきました。  
  年に一度の「組込み夏祭り」として、組込み分野の発展と技術共有に寄与してきた自負があります。

  SWESTにとって、参加者ならびに組込み分野の全ての皆さまの健康と幸福が最も重要なことです。  
  新型コロナウイルス感染症（COVID-19）を取り巻く昨今の情勢を踏まえますと、今年の8月に、いつもの下呂温泉に一堂に会して物理的な開催を行うことは難しいと判断しました。オンライン開催によるセッションの実施方法や議論形態については、実行委員会で詳細を鋭意計画中です。  
  オンライン開催だからこそできること、そしてSWESTらしいことをできるように、今年も参加者の皆さまと一緒に「議論と交流」の場を作り上げていきたく考えております。どうぞよろしくお願いいたします。

/  ![SWEST21メインテーマ](../images/SWEST21/swest21_theme.png)
/

  開催にあたり、[こちらの共催団体・協賛企業の皆さま](#org)より多大なるご理解・ご支援を頂いております。

  今年は[情報処理学会組込みシステムシンポジウム2018](http://www.sigemb.jp/ESS/)と同時開催します。

markdown:
  ## Topics (最新情報)
  * 2020年07月01日: [SWEST22の参加申し込み](regist)の募集を開始しました（締切7月31日(金)）
  * 2020年07月01日: [SWEST22のプログラム](SWEST22/program)を公開しました
  * 2020年07月01日: [SWEST22インタラクティブセッション募集](interactive)を開始しました（締切7月31日(金)）
  * 2020年06月29日: [SWEST22の開催案内](guide)を更新しました
  * 2020年06月20日: SWEST22のメインテーマを掲載しました
  * 2020年05月07日: SWEST22のオンライン開催について掲載しました
  * 2020年04月22日: [SWEST22討議テーマ・セッション募集](proposal)を開始しました（締切5月20日(水)：延長しました）
  * 2020年01月03日: SWEST22の開催概要を掲載しました
  * 2019年12月24日: [SWEST21のプログラム資料・議事録およびアルバム](old-report)を掲載しました

markdown:
  ## ポジションペーパーの説明

  ポジションペーパーは、SWESTへ参加するみなさんがSWESTでさらに議論を深めることを目的とする、意思表明文です。具体的には、SWESTへ参加するにあたって、SWESTのテーマ、各分科会テーマに対して、皆さんがどのような立場で、どのようにお考えになっているのかをまとめて表明していただくものです。

  各分科会のテーマに類する問題をお持ちであるなら、是非ポジションペーパーにしたためてください。解決のお手伝いができるかもしれません。と言うものの、あまり堅苦しく考えずに「組込みシステム」に関わる話題について、ざっくばらんに書いていただければと思います。

  詳細は参加募集期間にて[参加申込み](regist#pp)に掲載します。

- if locals[:regist] == :finish
  p.red ポジションペーパー投稿は締め切りました。

a name="org"

markdown:
  ## 主催・共催・後援団体・協賛団体
     
  * 主催: 組込みシステム技術に関するサマーワークショップ 実行委員会

  * 共催
    * [一般社団法人 情報処理学会 組込みシステム研究会(SIGEMB)](http://www.sigemb.jp/)
    * [組込みシステム開発技術研究会(CEST)](http://www.ertl.jp/CEST/)
    * [NPO法人 組込みソフトウェア管理者・技術者育成研究会(SESSAME)](http://www.sessame.jp/)
    * [NPO法人 TOPPERSプロジェクト](http://toppers.jp/)

  * 後援
    * [一般財団法人 日本科学技術連盟](http://www.juse.or.jp/)
    * [一般社団法人 組込みシステム技術協会(JASA)](http://www.jasa.or.jp/TOP/)
    * [一般社団法人 情報処理学会 システムとLSIの設計技術研究会(SLDM)](http://www.sig-sldm.org/)
    * [一般社団法人 電子情報通信学会](http://www.ieice.org/jpn/)
    * [ソフトウェア技術者協会（SEA）](http://sea.jp/)
    * [システム開発文書品質研究会（ASDoQ）](https://asdoq.jp/)
    * [NPO法人 軽量Rubyフォーラム](http://forum.mruby.org/)
    * [NPO法人 ソフトウェアテスト技術振興協会(ASTER)](http://aster.or.jp/)
    * [派生開発推進協議会(AFFORDD)](http://affordd.jp/)
    * [車載組込みシステムフォーラム(ASIF)](http://www.as-if.jp/)

  * 協力コミュニティ
    * [IoT ALGYAN (あるじゃん)](https://algyan.connpass.com/)
    * [ROS Japan Users Group](https://rosjp.connpass.com/)
    * [NervesJP](https://nerves-jp.connpass.com/)

  * 協賛企業 (口数順／申込順)
    * [株式会社アルファプロジェクト](http://www.apnet.co.jp/)
    * [株式会社ヴィッツ](http://www.witz-inc.co.jp/)

    * [APTJ株式会社](http://www.aptj.co.jp/)
    * [株式会社ティアフォー](https://www.tier4.jp/)
    * [京都マイクロコンピュータ株式会社](http://www.kmckk.co.jp/)
    * [エプソンアヴァシス株式会社](http://avasys.jp/)

p
  |
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/alphaproject.png", alt: "株式会社アルファプロジェクト", href: "http://www.apnet.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/witz.jpg", alt: "株式会社ヴィッツ", href: "http://www.witz-inc.co.jp/", imgsz: "100" }
  .col-1.col-lg-2

.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/APTJ_logo.jpg", alt: "APTJ株式会社", href: "http://www.aptj.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/Tier_IV_logo_1.jpg", alt: "株式会社ティアフォー", href: "https://www.tier4.jp/", imgsz: "100" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/kmc.png", alt: "京都マイクロコンピュータ株式会社", href: "http://www.kmckk.co.jp", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/avasys.png", alt: "エプソンアヴァシス株式会社", href: "http://avasys.jp/", imgsz: "100" }
.row.align-items-center


/markdown:
  ## 主催・共催・後援団体・協賛団体・協力コミュニティ
  /   <font color="Red">2019年に開催したSWEST21で多大なる支援を賜りました。<br>SWEST22の協賛のご案内は決まりましたらお知らせします。</font>
     
  * 主催: 組込みシステム技術に関するサマーワークショップ 実行委員会

  * 共催
    * [一般社団法人 情報処理学会 組込みシステム研究会(SIGEMB)](http://www.sigemb.jp/)
    * [組込みシステム開発技術研究会(CEST)](http://www.ertl.jp/CEST/)
    * [NPO法人 組込みソフトウェア管理者・技術者育成研究会(SESSAME)](http://www.sessame.jp/)
    * [NPO法人 TOPPERSプロジェクト](http://toppers.jp/)

  * 後援
    * [一般財団法人 日本科学技術連盟](http://www.juse.or.jp/)
    * [一般社団法人 組込みシステム技術協会(JASA)](http://www.jasa.or.jp/TOP/)
    * [一般社団法人 情報処理学会 システムとLSIの設計技術研究会(SLDM)](http://www.sig-sldm.org/)
    * [一般社団法人 電子情報通信学会](http://www.ieice.org/jpn/)
    * [下呂市コンベンションビューロー](http://hida-gero.jp/)
    * [ソフトウェア技術者協会（SEA）](http://sea.jp/)
    * [システム開発文書品質研究会（ASDoQ）](https://asdoq.jp/)
    * [NPO法人 軽量Rubyフォーラム](http://forum.mruby.org/)
    * [NPO法人 ソフトウェアテスト技術振興協会(ASTER)](http://aster.or.jp/)
    * [派生開発推進協議会(AFFORDD)](http://affordd.jp/)
    * [車載組込みシステムフォーラム(ASIF)](http://www.as-if.jp/)

  * 協力コミュニティ
    * [IoT ALGYAN (あるじゃん)](https://algyan.connpass.com/)
    * [ROS Japan Users Group](https://rosjp.connpass.com/)

  * 協賛企業 (口数順／申込順)
    * [株式会社アルファプロジェクト](http://www.apnet.co.jp/)
    * [株式会社ヴィッツ](http://www.witz-inc.co.jp/)
    * [STマイクロエレクトロニクス株式会社](https://www.st.com/content/st_com/ja.html)
    * [アイシン・コムクルーズ株式会社](https://www.aisin-comcruise.com/)
    * [株式会社ティアフォー](https://www.tier4.jp/)
    * [オムロン株式会社](https://www.omron.co.jp/) 
    * [スマートインプリメント株式会社](https://www.smart-implement.co.jp/)
    * [APTJ株式会社](http://www.aptj.co.jp/)
    * [株式会社永和システムマネジメント](https://www.esm.co.jp/)
    * [キヤノンITソリューションズ株式会社](https://www.canon-its.co.jp/)
    * [京都マイクロコンピュータ株式会社](http://www.kmckk.co.jp/)
    * [wolfSSL Inc.](https://wolfssl.com/)
    * [エプソンアヴァシス株式会社](http://avasys.jp/)
    * [東海ソフト株式会社](http://www.tokai-soft.co.jp/)
    * [ダッソー・システムズ株式会社](https://www.3ds.com/ja/)
    * ライドマティクステクノロジーズ株式会社
    * [日本マイクロソフト株式会社](https://www.microsoft.com/ja-jp)
     
/p
  |
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/alphaproject.png", alt: "株式会社アルファプロジェクト", href: "http://www.apnet.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/witz.jpg", alt: "株式会社ヴィッツ", href: "http://www.witz-inc.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/stmicro.jpg", alt: "STマイクロエレクトロニクス株式会社", href: "https://www.st.com/content/st_com/ja.html", imgsz: "70" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/aisin.jpg", alt: "アイシン・コムクルーズ株式会社", href: "https://www.aisin-comcruise.com/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/Tier_IV_logo_1.jpg", alt: "株式会社ティアフォー", href: "https://www.tier4.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/omron.png", alt: "オムロン株式会社", href: "https://www.omron.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/smartimplement.png", alt: "スマートインプリメント株式会社", href: "https://www.smart-implement.co.jp/", imgsz: "100" }
  .col-1.col-lg-2

/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/APTJ_logo.jpg", alt: "APTJ株式会社", href: "http://www.aptj.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/eiwa.jpg", alt: "株式会社永和システムマネジメント", href: "https://www.esm.co.jp/", imgsz: "80" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/canon_it.gif", alt: "キヤノンITソリューションズ株式会社", href: "https://www.canon-its.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/kmc.png", alt: "京都マイクロコンピュータ株式会社", href: "http://www.kmckk.co.jp", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/wolfssl.jpg", alt: "wolfSSL Inc.", href: "https://wolfssl.com/", imgsz: "80" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/avasys.png", alt: "エプソンアヴァシス株式会社", href: "http://avasys.jp/", imgsz: "100" }
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/tokai_soft.jpg", alt: "東海ソフト株式会社", href: "http://www.tokai-soft.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/dassault.jpg", alt: "ダッソー・システムズ株式会社", href: "https://www.3ds.com/ja/", imgsz: "100" }
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/RIDEM-logo.png", alt: "ライドマティクステクノロジーズ株式会社", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/MSFT.png", alt: "日本マイクロソフト株式会社", href: "https://www.microsoft.com/ja-jp", imgsz: "100" }   


/markdown:
  (2018年7月26日現在)

  SWEST実行委員会では、組込みシステム分野で活躍されている企業などに、SWESTへの協賛をお願いしています。組込みシステム業界全体の発展に寄与するというお気持ちでご協賛いただければ幸いです。

  お申込み方法などの詳細は、[こちら](../sponsor)をご参照ください。
