---
title: SWEST21について
navigation: SWEST21
description: "SWEST21開催概要: 開催日程: 2019年9月5日(木)〜6日(金)，開催場所: 下呂温泉 水明館， SWESTとは、大学の研究者や学生、企業の技術者や管理者、その他、組込みシステムに関わる全ての人達が、徹底的に議論できる場を提供することを主な目的とした合宿型のワークショップです。"
---
markdown:
  # SWEST21について

markdown:
  ## SWEST21開催概要

  * **開催日程: 2019年9月5日(木)〜6日(金)** 
  * **開催場所: [下呂温泉 水明館](https://www.suimeikan.co.jp) (岐阜県下呂市)**
  * **メインテーマ:**
  ![SWEST21メインテーマ](../images/SWEST21/swest21_theme.png)
    * SWESTは議論することを大事にしています。組込み分野の最新技術や今後について、徹底的に論じましょう！  
    * SWESTで得られる学びと経験、それらは実行してこそ身につきます。つまりランしてみましょう！！  
    * SWESTで身につけた技術、その知見を発信して共有しませんか？つまりpushしていって、世界を変えていきましょう!!!  

/

  開催にあたり、[こちらの共催団体・協賛企業の皆さま](#org)より多大なるご理解・ご支援を頂いております。

  今年は[情報処理学会組込みシステムシンポジウム2018](http://www.sigemb.jp/ESS/)と同時開催します。

markdown:
  ## 基調講演
 
  * Nervesが開拓する「ElixirでIoT」の新世界を、その主要な開発者であるJustin氏が直接ご紹介します。日本の組込み業界でSWESTが先駆けて取り上げるこの機会、ぜひご期待ください！！[（詳細はこちら）](keynote)
  * 講演者：Justin Schneck (Nerves Project)  
     <img src="../images/SWEST21/justin-schneck.jpg" width=170>

/= partial 'partials/keyface', :locals => { number: 21, image: 'SWEST21/justin-schneck.jpg', text: 'Justin Schneck (Nerves Project)'}

markdown:
     ## Topics (最新情報)
     
  * 2019年08月10日: SWEST21 参加申込みを締め切りました。多数の申込みをありがとうございました。
  * 2019年08月07日: [SWEST21 インタラクティブセッション & EmbLT](SWEST21/program/interactive) を公開しました。
  * 2019年07月20日: SWEST21インタラクティブセッション募集を締め切りました。多数の申込みありがとうございました。
  * 2019年06月29日: [SWEST21 プログラム](SWEST21/program)を公開しました。
  * 2019年05月28日: SWEST21メインテーマを掲載しました。
  * 2019年05月28日: [SWEST21 協賛のご案内](sponsor)を掲載しました。
  * 2019年05月09日: SWEST21 討議テーマ・セッション提案の募集を締め切りました。多数のご提案をありがとうございました。
  * 2019年04月04日: SWEST21の運営組織を掲載しました。
  * 2018年10月22日: SWEST21の開催概要を掲載しました。
  * 2018年10月22日: [SWEST20のプログラム資料・議事録およびアルバム](old-report)を掲載しました。

markdown:
  ## ポジションペーパーの説明

  ポジションペーパーは、SWESTへ参加するみなさんがSWESTでさらに議論を深めることを目的とする、意思表明文です。具体的には、SWESTへ参加するにあたって、SWESTのテーマ、各分科会テーマに対して、皆さんがどのような立場で、どのようにお考えになっているのかをまとめて表明していただくものです。

  各分科会のテーマに類する問題をお持ちであるなら、是非ポジションペーパーにしたためてください。解決のお手伝いができるかもしれません。と言うものの、あまり堅苦しく考えずに「組込みシステム」に関わる話題について、ざっくばらんに書いていただければと思います。

  詳細は参加募集期間にて[参加申込み](regist#pp)に掲載します。

a name="org"

markdown:
  ## 主催・共催・後援団体・協賛団体・協力コミュニティ  

  * 主催: 組込みシステム技術に関するサマーワークショップ 実行委員会

  * 共催
    * [一般社団法人 情報処理学会 組込みシステム研究会(SIGEMB)](http://www.sigemb.jp/)
    * [組込みシステム開発技術研究会(CEST)](http://www.ertl.jp/CEST/)
    * [NPO法人 組込みソフトウェア管理者・技術者育成研究会(SESSAME)](http://www.sessame.jp/)
    * [NPO法人 TOPPERSプロジェクト](http://toppers.jp/)

  * 後援
    * [一般財団法人 日本科学技術連盟](http://www.juse.or.jp/)
    * [一般社団法人 組込みシステム技術協会(JASA)](http://www.jasa.or.jp/TOP/)
    * [一般社団法人 情報処理学会 システムとLSIの設計技術研究会(SLDM)](http://www.sig-sldm.org/)
    * [一般社団法人 電子情報通信学会](http://www.ieice.org/jpn/)
    * [下呂市コンベンションビューロー](http://hida-gero.jp/)
    * [ソフトウェア技術者協会（SEA）](http://sea.jp/)
    * [システム開発文書品質研究会（ASDoQ）](https://asdoq.jp/)
    * [NPO法人 軽量Rubyフォーラム](http://forum.mruby.org/)
    * [NPO法人 ソフトウェアテスト技術振興協会(ASTER)](http://aster.or.jp/)
    * [派生開発推進協議会(AFFORDD)](http://affordd.jp/)
    * [車載組込みシステムフォーラム(ASIF)](http://www.as-if.jp/)

  * 協力コミュニティ
    * [IoT ALGYAN (あるじゃん)](https://algyan.connpass.com/)
    * [ROS Japan Users Group](https://rosjp.connpass.com/)
  
  * 協賛企業 (口数順／申込順)
    * [株式会社アルファプロジェクト](http://www.apnet.co.jp/)
    * [株式会社ヴィッツ](http://www.witz-inc.co.jp/)  
    * [STマイクロエレクトロニクス株式会社](https://www.st.com/content/st_com/ja.html)
    * [アイシン・コムクルーズ株式会社](https://www.aisin-comcruise.com/)     
    * [株式会社ティアフォー](https://www.tier4.jp/)     
    * [APTJ株式会社](http://www.aptj.co.jp/)
    * [株式会社永和システムマネジメント](https://www.esm.co.jp/)
    * [キヤノンITソリューションズ株式会社](https://www.canon-its.co.jp/)
    * [京都マイクロコンピュータ株式会社](http://www.kmckk.co.jp/)
    * [wolfSSL Inc.](https://wolfssl.com/)
    * [エプソンアヴァシス株式会社](http://avasys.jp/)
    * [東海ソフト株式会社](http://www.tokai-soft.co.jp/)
    * [ダッソー・システムズ株式会社](https://www.3ds.com/ja/)
    * ライドマティクステクノロジーズ株式会社
p
  |
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/alphaproject.png", alt: "株式会社アルファプロジェクト", href: "http://www.apnet.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/witz.jpg", alt: "株式会社ヴィッツ", href: "http://www.witz-inc.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/stmicro.jpg", alt: "STマイクロエレクトロニクス株式会社", href: "https://www.st.com/content/st_com/ja.html", imgsz: "70" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/aisin.jpg", alt: "アイシン・コムクルーズ株式会社", href: "https://www.aisin-comcruise.com/", imgsz: "100" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/Tier_IV_logo_1.jpg", alt: "株式会社ティアフォー", href: "https://www.tier4.jp/", imgsz: "100" }
  .col-1.col-lg-2

.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/APTJ_logo.jpg", alt: "APTJ株式会社", href: "http://www.aptj.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/eiwa.jpg", alt: "株式会社永和システムマネジメント", href: "https://www.esm.co.jp/", imgsz: "80" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/canon_it.gif", alt: "キヤノンITソリューションズ株式会社", href: "https://www.canon-its.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/kmc.png", alt: "京都マイクロコンピュータ株式会社", href: "http://www.kmckk.co.jp", imgsz: "100" }
  .col-1.col-lg-2
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/wolfssl.jpg", alt: "wolfSSL Inc.", href: "https://wolfssl.com/", imgsz: "80" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/avasys.png", alt: "エプソンアヴァシス株式会社", href: "http://avasys.jp/", imgsz: "100" }
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/tokai_soft.jpg", alt: "東海ソフト株式会社", href: "http://www.tokai-soft.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/dassault.jpg", alt: "ダッソー・システムズ株式会社", href: "https://www.3ds.com/ja/", imgsz: "100" }
.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/RIDEM-logo.png", alt: "ライドマティクステクノロジーズ株式会社", imgsz: "100" }
     

/markdown:
  ## 主催・共催・後援団体および協賛団体
  ## 主催・共催・後援団体・協賛団体・協力コミュニティ

  * 主催: 組込みシステム技術に関するサマーワークショップ 実行委員会

  * 共催
    * [一般社団法人 情報処理学会 組込みシステム研究会(SIGEMB)](http://www.sigemb.jp/)
    * [組込みシステム開発技術研究会(CEST)](http://www.ertl.jp/CEST/)
    * [NPO法人 組込みソフトウェア管理者・技術者育成研究会(SESSAME)](http://www.sessame.jp/)
    * [NPO法人 TOPPERSプロジェクト](http://toppers.jp/)

  * 後援
    * [一般財団法人 日本科学技術連盟](http://www.juse.or.jp/)
    * [一般社団法人 組込みシステム技術協会(JASA)](http://www.jasa.or.jp/TOP/)
    * [一般社団法人 情報処理学会 システムとLSIの設計技術研究会(SLDM)](http://www.sig-sldm.org/)
    * [一般社団法人 電子情報通信学会](http://www.ieice.org/jpn/)
    * [下呂市コンベンションビューロー](http://hida-gero.jp/)
    * [ソフトウェア技術者協会（SEA）](http://sea.jp/)
    * [システム開発文書品質研究会（ASDoQ）](https://asdoq.jp/)
    * [NPO法人 軽量Rubyフォーラム](http://forum.mruby.org/)
    * [NPO法人 ソフトウェアテスト技術振興協会(ASTER)](http://aster.or.jp/)
    * [派生開発推進協議会(AFFORDD)](http://affordd.jp/)
    * [車載組込みシステムフォーラム(ASIF)](http://www.as-if.jp/)

  * 協力コミュニティ
    * [IoT ALGYAN (あるじゃん)](https://algyan.connpass.com/)
    * [ROS Japan Users Group](https://rosjp.connpass.com/)
  
  * 協賛企業 (口数順／五十音順)
    * [アーム株式会社](https://www.arm.com/)
    * [アイシン・コムクルーズ株式会社](https://www.aisin-comcruise.com/)
    * [株式会社アルファプロジェクト](http://www.apnet.co.jp/)
    * [株式会社ヴィッツ](http://www.witz-inc.co.jp/)
    * [STマイクロエレクトロニクス株式会社](https://www.st.com/content/st_com/ja.html)
    * [株式会社パソナテック](https://www.pasonatech.co.jp/)
    * [wolfSSL Inc.](https://wolfssl.com/)
    * [APTJ株式会社](http://www.aptj.co.jp/)
    * [株式会社永和システムマネジメント](https://www.esm.co.jp/)
    * [エプソンアヴァシス株式会社](http://avasys.jp/)
    * [キヤノンITソリューションズ株式会社](https://www.canon-its.co.jp/)
    * [京都マイクロコンピュータ株式会社](http://www.kmckk.co.jp/)
    * [ダッソー・システムズ株式会社](https://www.3ds.com/ja/)
    * [東海ソフト株式会社](http://www.tokai-soft.co.jp/)
    * [富士設備工業株式会社](https://fuji-setsu.co.jp/)
    * [菱電商事株式会社](http://www.ryoden.co.jp/)
    * ライドマティクステクノロジーズ株式会社
     
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/arm2.png", alt: "アーム株式会社", href: "https://www.arm.com/", imgsz: "60" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/aisin.jpg", alt: "アイシン・コムクルーズ株式会社", href: "https://www.aisin-comcruise.com/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/alphaproject.png", alt: "株式会社アルファプロジェクト", href: "http://www.apnet.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/witz.jpg", alt: "株式会社ヴィッツ", href: "http://www.witz-inc.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/stmicro.jpg", alt: "STマイクロエレクトロニクス株式会社", href: "https://www.st.com/content/st_com/ja.html", imgsz: "70" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-2', :locals => { image: "https://swest.toppers.jp/company/pasonatech.jpg", alt: "株式会社パソナテック", href: "https://www.pasonatech.co.jp/", imgsz: "70" }
  .col-1.col-lg-2

/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/wolfssl.jpg", alt: "wolfSSL Inc.", href: "https://wolfssl.com/", imgsz: "80" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/APTJ_logo.jpg", alt: "APTJ株式会社", href: "http://www.aptj.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/eiwa.jpg", alt: "株式会社永和システムマネジメント", href: "https://www.esm.co.jp/", imgsz: "80" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/avasys.png", alt: "エプソンアヴァシス株式会社", href: "http://avasys.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/canon_it.gif", alt: "キヤノンITソリューションズ株式会社", href: "https://www.canon-its.co.jp/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/kmc.png", alt: "京都マイクロコンピュータ株式会社", href: "http://www.kmckk.co.jp", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/dassault.jpg", alt: "ダッソー・システムズ株式会社", href: "https://www.3ds.com/ja/", imgsz: "100" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/tokai_soft.jpg", alt: "東海ソフト株式会社", href: "http://www.tokai-soft.co.jp/", imgsz: "100" }
  .col-1.col-lg-2
/.row.align-items-center
  .col-1.col-lg-2
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/fujisetsu.gif", alt: "富士設備工業株式会社", href: "https://fuji-setsu.co.jp/", imgsz: "120" }
  = partial 'partials/logo-1', :locals => { image: "https://swest.toppers.jp/company/ryoden.jpg", alt: "菱電商事株式会社", href: "http://www.ryoden.co.jp/", imgsz: "80" }
  .col-1.col-lg-2

/markdown:
  (2018年7月26日現在)

  SWEST実行委員会では、組込みシステム分野で活躍されている企業などに、SWESTへの協賛をお願いしています。組込みシステム業界全体の発展に寄与するというお気持ちでご協賛いただければ幸いです。

  お申込み方法などの詳細は、[こちら](../sponsor)をご参照ください。
